*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 90%;
    margin: 10rem auto;
}

.products{
    display: flex;
    flex-direction: column;
}

.product{
    margin: 1rem ;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
}

.buttons{
    width: 15%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}


.btn{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    width: 7rem;
    height: 3rem;
    color: white;
    background-color: #0c6cb0;
    border: 1px solid #0c6cb0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: .5rem 1rem;
}
.btn:hover{
    border: 1px solid #0c6cb0;
    background-color: white;
    color: #0c6cb0;
    cursor: pointer;
    transition: .5s ;
}

.buttons button{
    background-color: #0c6cb0;
    border: 1px solid #0c6cb0;
    color: white;
    padding: .3rem .5rem;
    border-radius: 16px;
    cursor: pointer;
}

.header{
    font-size: 20px;
    font-weight: bold;
}