.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
  }

.pHeader {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
}

.cartImg{
  
}
.cartTitle{
  
}
.cartPrice{
  
}
.cartBtn{
  
}